# Network Configuration

# WiFi Configuration
WIFI_INTERFACE="wlan0"
WIFI_SSID="AmandasWifi_2.4Gnormal"
WIFI_PASSWORD="SanLuis2024"

# Wired Configuration (optional)
#WIRED_INTERFACE="eth0"
# WIRED_USE_DHCP=true

# Static IP Configuration (optional)
STATIC_IP="192.168.1.100"
STATIC_GATEWAY="192.168.1.1"
STATIC_DNS="8.8.8.8,8.8.4.4" 